@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;
  background: #1a202c; 
  /* Fallback */
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}